<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('app_index') }}">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Expenses
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ path('app_expense_new') }}">
                        Create
                    </a>
                    <a class="navbar-item" href="{{ path('app_expense_all') }}">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>